@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --color0: #343A40;
    --color1: #495057;
    --color2: #6C757D;
    --color3: #ADB5BD;
    --color4: #CED4DA;
    --backgroud-color: #f6f5f1;
    --margin: 1rem;
    --max-width: 1000px;
}

/* RESETS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN CONTENT */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroud-color);
    font-family: 'PT Sans', sans-serif;
}

.main_wrapper {
    display: flex;
    height: 100vh; 
    min-width: var(--max-width);
    border-right: solid 1px var(--color0);
    background-color: var(--color3);
    box-shadow: 5px 5px 5px black;
}

.summary {
    max-width: 300px;
    color: var(--color3);
    background-color: var(--color0);
}

.profile_picture {
    display: block;
    border-radius: 50%;
    max-width: 250px;
    margin-top: var(--margin);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
}

.summary h1 {
    margin: var(--margin);
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}

.summary p {
    margin: var(--margin);
}

.summary ul {
    margin: var(--margin);
}

.summary li {
    margin-top: calc(var(--margin)/2);
}

.summary a {
    color: var(--color3);
    text-decoration: underline;
}

.main {
    margin: var(--margin);
}

.main h1 {
    font-size: x-large;
    font-weight: 900;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.main h2 {
    margin-top: calc(var(--margin) * .5);
    font-weight: 700;
    font-size: large;
}

.main h3 {
    font-size: large;
    font-weight: 600;
    margin-top: calc(var(--margin) * .5);
    margin-bottom: calc(var(--margin) * .5);
    margin-left: calc(var(--margin) * 1.5);
}

.main h4 {
    margin-left: calc(var(--margin) * 1);
}

.main ul {
    font-size: medium;
    margin-left: calc(var(--margin) * 3);
    list-style-type: circle;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
    body {
        display: block;
        overflow: hidden;
    }
    .main_wrapper {
        min-width: none;
        height: 100%;
    }
}.




/* 

LOGANS stuff
section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1;
    background-color: var(--color3);
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

.summary {
    background-color: var(--color0);
    color: var(--color3);
    padding: 1em;
    text-align: center;
    flex-direction: row;
    float: left;
    width: 250px;
    height: 100vh;
    position: fixed;
}

.summary p {
    text-align: justify;
    margin-bottom: 0.5em;
    flex-direction: auto;
}

.header {
    text-align: left;
    font-size: 1em;
    line-height: 1.8em;
}

.link {
    color: var(--color3);
    text-decoration: underline;
}

.resumepic {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    flex-direction: row;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.main {
    padding: 0.5em;
    flex-direction: row;
}

.main h1 {
    margin-left: 12em;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
    font-size: 1.8em;
    flex-direction: row;
}

.main h2 {
    margin-left: 15em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1.5em;
    flex-direction: row;
}

.main h3 {
    margin-left: 23em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1.0em;
    font-weight: bold;
    flex-direction: row;
}

.main h4 {
    margin-left: 23em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1.0em;
    flex-direction: row;
    font-weight: bold;
}

.main ul li {
    margin-left: 24em;
    flex-direction: row;
}

.reference {
    margin-left: -3.5em;
    list-style: none;
}

.date {
    font-weight: normal;
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
    .summary {
        width: 150px;
    }    
} */